manifest {
    /* Homepage of project */
    homePage = 'https://github.com/meglab-metagenomics/amrplusplus_v2'

    /* Description of project */
    description = 'AmrPlusPlus: A bioinformatic pipeline for characterizing the resistome with the MEGARes database and the microbiome using Kraken.'

    /* Main pipeline script */
    mainScript = 'main_AmrPlusPlus_v2.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

params {
    /* Location of forward and reverse read pairs */
    reads = "data/raw/*_R{1,2}.fastq.gz"

    /* Location of adapter sequences */
    adapters = "data/adapters/nextera.fa"

    /* Location of host genome index files */
    host_index = ""

    /* Location of host genome */
    host = "data/host/chr21.fasta.gz"
    
    /* Kraken database location, default is "none" */   
    kraken_db = "minikraken2_v2_8GB_201904_UPDATE"

    /* Location of amr index files */
    amr_index = ""

    /* Location of antimicrobial resistance (MEGARes) database */
    amr = "data/amr/megares_modified_database_v2.0.fasta"

    /* Location of amr annotation file */
    annotation = "data/amr/megares_modified_annotations_v2.0.csv"

    /* Location of SNP confirmation script */
    snp_confirmation = "bin/snp_confirmation.py"

    /* Output directory */
    output = "test_results"

    /* Number of threads */
    threads = 10
    smem_threads = 12

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Resistome threshold */
    threshold = 80

    /* Starting rarefaction level */
    min = 5

    /* Ending rarefaction level */
    max = 100

    /* Number of levels to skip */
    skip = 5

    /* Number of iterations to sample at */
    samples = 1

    /* Display help message */
    help = false
}

/* These files correspond to configuration files that can be edited to best suit your computing environment. */
profiles {
  local {
    includeConfig "config/local.config"
  }
  MEG_AMI {
    includeConfig "config/MEG_AMI.config"
  }
  local_angus {
    includeConfig "config/local_angus.config"
  }
  local_MSI {
    includeConfig "config/local_MSI.config"
  }
  singularity_slurm {
    process.executor = 'slurm'
    includeConfig "config/singularity_slurm.config"
    process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  }
  singularity {
    includeConfig "config/singularity.config"
    process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  }
}
