manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/summit-assembly'

    /* Description of project */
    description = 'IDBA-UD assembly of shotgun metagenomic data on Summit HPC server'

    /* Main pipeline script */
    mainScript = 'test.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

params {
    /* Location of forward and reverse read pairs */
    reads = "data/raw/*_{1,2}.fastq.gz"

    /* Location of adapter sequences */
    adapters = "data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "data/adapters/nextera.tab"

    /* Location of host genome index files */
    host_index = ""

    /* Location of host genome */
    host = "data/host/chr21.fasta.gz"
    
    /* Kraken database location, default is "none" */   
    kraken_db = "minikraken2_v2_8GB_201904_UPDATE"

    /* Location of amr index files */
    amr_index = ""

    /* Location of antimicrobial resistance (MEGARes) database */
    amr = "data/amr/megares_database_v1.02.fasta"

    /* Location of amr annotation file */
    annotation = "data/amr/megares_annotations_v1.02.csv"

    /* Location of SNP metadata */
    snp_annotation = "data/amr/snp_location_metadata.csv"

    /* Location of SNP confirmation script */
    snp_confirmation = "bin/snp_confirmation.py"

    /* Output directory */
    output = "test_results"

    /* Number of threads */
    threads = 10
    smem_threads = 12

    /* Trimmomatic trimming parameters */
    leading = 10
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Resistome threshold */
    threshold = 80

    /* Starting rarefaction level */
    min = 5

    /* Ending rarefaction level */
    max = 100

    /* Number of levels to skip */
    skip = 5

    /* Number of iterations to sample at */
    samples = 1
    
    /* Location of HMM parameters */
    hmm_analysis_script = "data/HMM/HMM_contig_analysis.py"
    hmm_group1 =  "data/HMM/mmarc_groupI.hmm"
    hmm_group2 =  "data/HMM/mmarc_groupII.hmm"
    hmm_group3 =  "data/HMM/mmarc_groupIII.hmm"
    hmm_snp_annotation =  "data/HMM/mmarc_snpsearch_metadata.csv"
    hmm_annotation = "data/HMM/mmarc_model_annotations.tsv"

    /* Display help message */
    help = false
}



profiles {
  local {
    includeConfig "config/local.config"
  }
  local_angus {
    includeConfig "config/local_angus.config"
  }
  local_MSI {
    includeConfig "config/local_MSI.config"
  }
  slurm {
    process.executor = 'slurm'
    includeConfig "config/slurm.config"
    process.container = 'shub://EnriqueDoster/bioinformatic-nextflow-pipelines'
  }
  singularity {
    includeConfig "config/singularity.config"
    process.container = 'shub://EnriqueDoster/bioinformatic-nextflow-pipelines'
  }
}
