// This includes all of the parameters used in this pipeline.
// Default parameters in place, but they can be changed in your command
// with two dashes, like this "--reads". Or, the params.config file can be
// modified to fit your needs.


includeConfig "$baseDir/params.config"

manifest {
    /* Homepage of project */
    homePage = 'https://github.com/Microbial-Ecology-Group/AMRplusplus'
    
    /* Description of project */
    description = 'AMR++: A bioinformatic pipeline for characterizing the resistome with the MEGARes database and the microbiome using Kraken.'
    
    /* Main pipeline script */
    mainScript = 'main_AMR++.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}


/* 
 * defines execution profiles for different environments  
 */ 

// Set the default profile
profile = "local"


// Below are other config options
profiles {
  local {
    includeConfig "config/local.config"
  }
  local_slurm {
    includeConfig "config/local_slurm.config"
  }
  conda {
    includeConfig "config/conda.config"
    conda.enabled = true
    conda.cacheDir = "$baseDir/envs/"
    conda.useMamba = true
    conda.createTimeout = '30 min'
  }
  docker {
    includeConfig "config/local.config"
    docker.enabled = true
    process.container = 'enriquedoster/amrplusplus:latest'
  }
  singularity {
    includeConfig "config/singularity.config"
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/envs/"
  }
  apptainer {
    includeConfig "config/apptainer.config"
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.cacheDir = "$baseDir/envs/"
  }
  conda_slurm {
    includeConfig "config/conda_slurm.config"
    conda.cacheDir = "$baseDir/envs/"
    conda.enabled = true
    conda.useMamba = true
    conda.createTimeout = '30 min'
  }
   singularity_slurm {
    includeConfig "config/singularity_slurm.config"
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/envs/"
  }
}
