/* 
 * Defines default parameters 
 * To change any of these parameters, include the variable in your command with 2 dashes "--"
 *  nextflow run main_AMR++.nf -profile singularity --reads "/path/to/other/reads/*_R{1,2}.fastq.gz"
 */ 


params {
     /* Display help message */
    help = false

    /* Location of forward and reverse read pairs */
    reads = "${baseDir}/data/raw/*_R{1,2}.fastq.gz"

    /* Location of reference/host genome */
    reference = "${baseDir}/data/host/chr21.fasta.gz"

    /* Output directory */
    output = "test_results"
    
    /* Kraken database location, default is "null" */   
    kraken_db = null

    /* Location of amr index files */
    amr_index = ""

    /* Location of antimicrobial resistance (MEGARes) database */
    amr = "${baseDir}/data/amr/megares_database_v3.00.fasta"

    /* Location of amr annotation file */
    annotation = "${baseDir}/data/amr/megares_annotations_v3.00.csv"

    /* Add SNP analysis */
    snp = "N"

    /* Add deduplicaation analysis */
    deduped = "N"
    prefix = "AMR"

    /* Number of threads */
    threads = 4

    /* Trimmomatic trimming parameters */
    adapters = "${baseDir}/data/adapters/nextera.fa"

    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Resistome threshold */
    threshold = 10

    /* Starting rarefaction level */
    min = 5

    /* Ending rarefaction level */
    max = 100

    /* Number of levels to skip */
    skip = 5

    /* Number of iterations to sample at */
    samples = 1

    /* multiQC */
    multiqc = "$baseDir/data/multiqc"

    /* Qiime2 */

    /* Dada parameters */
    p_trim_left_f = 25

    p_trim_left_r = 26

    p_trunc_len_f = 225

    p_trunc_len_r = 220

    /* qiime2 bayes classifier */
    dada2_db = "$baseDir/data/qiime/gg-13-8-99-515-806-nb-classifier.qza"


}

