/* 
 * Defines default parameters 
 * To change any of these parameters, include the variable in your command with 2 dashes "--"
 *  nextflow run main_AMR++.nf -profile conda --reads "/path/to/other/reads/*_R{1,2}.fastq.gz"
 */ 


params {
     /* Display help message */
    help = false

    /* Location of forward and reverse read pairs */
    reads = "${baseDir}/data/raw/*_R{1,2}.fastq.gz"

    /* for merged analysis */
    merged_reads = 'test_results/Flash_reads/*.{extendedFrags,notCombined}.fastq.gz'

    /* Output directory */
    output = "test_results"

    /* Optional input for bam files for use with "--pipeline bam_resistome" */
    bam_files = null

    /* Location of reference/host genome */
    host = "${baseDir}/data/host/chr21.fasta.gz"

    /* Optionally, you can specify the location of the host index files created with bwa with the path and wildcard (*): */
    /* If you don't have the index files, replace this with "null" without quotes */
    host_index =  null
    
    /* Kraken database location, default is "null" */   
    kraken_db = null
    
    /* Kraken confidence score, 0.0 by default */
    kraken_confidence = 0.0

    kraken_options = ""

    /* Location of amr index files with wildcard */
    amr_index = "${baseDir}/data/amr/megares_database_v3.00.fasta*"

    /* Location of antimicrobial resistance (MEGARes) database */
    amr = "${baseDir}/data/amr/megares_database_v3.00.fasta"

    /* Location of amr annotation file */
    annotation = "${baseDir}/data/amr/megares_annotations_v3.00.csv"

    /* Samtools Resistome alignment flag options */
    samtools_flag = "-F 2304"

    /* Add SNP analysis */
    snp = "Y"

    /* Resistome threshold */
    threshold = 0

    /* Add rarefaction analysis */ 
    rarefaction = "N"

    /* Add deduplicaation analysis */
    deduped = "Y"
    prefix = "AMR"

    /* Number of threads */
    threads = 4

    /* Trimmomatic trimming parameters */
    adapters = "${baseDir}/data/adapters/nextera.fa"
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36
    crop_len = 200

    /* Starting rarefaction level */
    min = 5
    /* Ending rarefaction level */
    max = 100
    /* Number of levels to skip */
    skip = 5
    /* Number of iterations to sample at */
    samples = 1

    /* multiQC */
    multiqc = "$baseDir/data/multiqc"

    /* Qiime2 */
    /* Dada parameters */
    p_trim_left_f = 25
    p_trim_left_r = 26
    p_trunc_len_f = 225
    p_trunc_len_r = 220

    /* qiime2 bayes classifier */
    dada2_db = "$baseDir/data/qiime/gg-13-8-99-515-806-nb-classifier.qza"
}


// The location of each dependency binary needs to be specified here.
// The examples listed below are assuming the tools are already in the $PATH, however,
// the absolute path to each tool can be entered individually.
// Only change things here if you need to point to a specific binary on your computing system.
env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = "java"
    TRIMMOMATIC = "trimmomatic"
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    SNPFINDER = 	"snpfinder"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    QIIME = "qiime"
}
