singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = '/usr/local/envs/AmrPlusPlus_env/bin/java'
    TRIMMOMATIC = '/usr/local/envs/AmrPlusPlus_env/share/trimmomatic/trimmomatic.jar'
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    SNPFINDER = 	"snpfinder"
    FREEBAYES = "freebayes"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    RGI = "rgi"
    DIAMOND = "diamond"
}


process {
  process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  maxForks = 10                 // The maximum number of forks a single process is allowed to spawn
}
