
env {
    /* These following tools are required to run AMR++ */
    JAVA = 'java'
    TRIMMOMATIC = 'trimmomatic'
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
}

process {
  maxForks = 2                 // The maximum number of forks a single process is allowed to spawn
  clusterOptions='--job-name=%j --time=01:00:00 --ntasks=2 --mem=2560M --partition=short'
}