env {
    threads = 4
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = "java"
    TRIMMOMATIC = "trimmomatic"
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"baseDir/bin/resistome"
    RAREFACTION = 	"$baseDir/bin/rarefaction"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    QIIME = "qiime"
}


process {
    container = '/home/training/amrplusplus.sif'
    withLabel: 'qiime' { 
        container = '/home/training/qiime2.sif' 
    }
}