singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = 'java'
    TRIMMOMATIC = 'trimmomatic'
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
}



