singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = '/usr/local/envs/AmrPlusPlus/bin//java'
    TRIMMOMATIC = '/usr/local/envs/AmrPlusPlus/share/trimmomatic/trimmomatic.jar'
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    SNPFINDER = 	"snpfinder"
    FREEBAYES = "freebayes"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    RGI = "rgi"
    DIAMOND = "diamond"
    BBMAP_JAVA= "/usr/local/bbmap/jni/"
    BBMAP_current = "/usr/local/bbmap/current/"
    CLUMPIFY = "-ea -cp /usr/local/bbmap/current/ clump.Clumpify"
}


process {
  process.executor='slurm'
  process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  maxForks = 10                 // The maximum number of forks a single process is allowed to spawn
  withName:RunQC {
      process.qos='normal'
      clusterOptions='--job-name=QC%j --qos=normal --time=23:59:00'
  }
  withName:QCStats {
      process.qos='normal'
      clusterOptions='--job-name=QCstats%j --qos=normal --time=05:00:00'
  }
  withName:BuildHostIndex {
      process.qos='normal'
      clusterOptions='--job-name=hostindex%j --qos=normal --ntasks-per-node=12 --time=23:59:00'
  }
  withName:BuildAMRIndex {
      process.qos='normal'
      clusterOptions='--job-name=AMRindex%j --qos=normal --ntasks-per-node=12 --time=23:59:00'
  }
  withName:DedupReads {
      process.qos='normal'
      clusterOptions='--job-name=dedup%j --qos=normal  --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:AlignReadsToHost {
      process.time = '20:00:00'
      process.qos='normal'
      clusterOptions='--job-name=AlignHost%j --qos=normal --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:RemoveHostDNA  {
      process.qos='normal'
      clusterOptions='--job-name=RMHost%j --qos=normal --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:HostRemovalStats {
      process.qos='normal'
      clusterOptions='--job-name=hoststats%j --qos=normal --time=05:00:00'
  }
  withName:NonHostReads {
      process.qos='normal'
      clusterOptions='--job-name=BAMFastq%j --qos=normal --time=23:59:00'
  }
  withName:AssembleReads{
      process.qos='normal'
      clusterOptions='--job-name=assembly%j --qos=normal --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:HMM_amr {
      process.qos='normal'
      clusterOptions='--job-name=HMM_amr%j --qos=normal --partition=shas --ntasks-per-node=15 --time=23:59:00'
  }
  withName:AlignDedupedToContigs {
      process.qos='normal'
      clusterOptions='--job-name=bwa_contig%j --qos=normal --time=23:59:00'
  }  
  withName:AlignToContigs {
      process.qos='normal'
      clusterOptions='--job-name=bwa_contig%j --qos=normal --time=23:59:00'
  }
  withName:HMMcontig_count {
      process.qos='normal'
      clusterOptions='--job-name=HMMcount%j --qos=normal --time=23:59:00'
  }
  withName:AlignDedupSNPToAMR {
      process.qos='normal'
      clusterOptions='--job-name=alignAMR%j --qos=normal --time=23:59:00'
  }
  withName:AlignToAMR {
      process.qos='normal'
      clusterOptions='--job-name=alignAMR%j --qos=normal --time=23:59:00'
  }
  withName:DedupRunResistome {
      process.qos='normal'
      clusterOptions='--job-name=resistome%j --qos=normal --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:RunResistome {
      process.qos='normal'
      clusterOptions='--job-name=resistome%j --qos=normal --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:RunFreebayes {
      process.qos='normal'
      clusterOptions='--job-name=freebayes%j --qos=normal --time=23:59:00'
  }
  withName:RunRarefaction {
      process.qos='normal'
      clusterOptions='--job-name=rarefaction%j --qos=normal --time=23:59:00 --ntasks-per-node=12'
  }
  withName:RunSNPFinder {
      process.qos='normal'
      clusterOptions='--job-name=SNPfinder%j --qos=normal --partition=shas --ntasks-per-node=12 --time=23:59:00'
  }
  withName:ResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=LtoWide%j --qos=normal --time=05:00:00'
  }
  withName:SNPAlignToAMR {
      process.qos='normal'
      clusterOptions='--job-name=SNPAlignToAMR%j --qos=normal --time=23:59:00'
  }
  withName:SNPRunResistome {
      process.qos='normal'
      clusterOptions='--job-name=SNPresistome%j --qos=normal --time=23:59:00'
  }
  withName:SNPRunRarefaction {
      process.qos='normal'
      clusterOptions='--job-name=SNPrarefaction%j --qos=normal --time=23:59:00'
  }
  withName:SNPconfirmation {
      process.qos='normal'
      clusterOptions='--job-name=SNPconfirmation%j --qos=normal --time=23:59:00'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPgene_alignment {
      process.qos='normal'
      clusterOptions='--job-name=SNPalignment%j --qos=normal --time=23:59:00'
  }
  withName:SNPRunFreebayes {
      process.qos='normal'
      clusterOptions='--job-name=SNPfreebayes%j --qos=normal --time=23:59:00'
  }
  withName:SNPRunSNPFinder {
      process.qos='normal'
      clusterOptions='--job-name=SNPsnpfinder%j --qos=normal --time=23:59:00'
  }
  withName:SNPResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=SNPLongToWide --qos=normal --time=5:00:00'
  }
  withName:DedupNonSNPResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=DedupNonSNPLongToWide --qos=normal --time=5:00:00'
  }
  withName:HMMResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=HMM_LongToWide --qos=normal --time=5:00:00'
  }
  withName:SamDedupRunResistome {
      process.qos='normal'
      clusterOptions='--job-name=SamDedupSNPresistome%j --qos=normal --time=23:59:00'
  }
  withName:SamDedupResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=SamDedup_LongToWide --qos=normal --time=5:00:00'
  }
  withName:Samtools_dedup_HMMcontig_count {
      process.qos='normal'
      clusterOptions='--job-name=SamDedupSNPresistome%j --qos=normal --time=23:59:00'
  }
  withName:Samtools_dedup_HMMResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=SamDedup_LongToWide --qos=normal --time=5:00:00'
  }
  withName:BBmapDedupAlignToAMR {
      process.qos='normal'
      clusterOptions='--job-name=BBmapDedupAlignToAMR%j --qos=normal --time=23:59:00'
  }
  withName:BBmapDedupRunResistome {
      process.qos='normal'
      clusterOptions='--job-name=BBmapDedupRunResistome%j --qos=normal --time=23:59:00'
  }
  withName:BBmapDedupResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=BBmapDedupResistomeResults --qos=normal --time=5:00:00'
  }
}
