singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.36'
    /* Location of Java */
    JAVA = '/usr/lib/jvm/java-7-openjdk-amd64/bin/java'
    BBMAP_JAVA= "/usr/local/bbmap/jni/"
    BBMAP_current = "/usr/local/bbmap/current/"
    CLUMPIFY = "/usr/lib/jvm/java-7-openjdk-amd64/bin/java -ea -cp /usr/local/bbmap/current/ clump.Clumpify"
}


process {
  process.executor='pbs'
  process.container = 'shub://EnriqueDoster/MEG-summit-assembly:latest'
  maxForks = 30                 // The maximum number of forks a single process is allowed to spawn
  withName:RunQC {
      clusterOptions='-N=QC%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:QCStats {
      clusterOptions='-N=QCstats%j -l walltime=05:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:BuildHostIndex {
      clusterOptions='-N=hostindex%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:BuildAMRIndex {
      clusterOptions='-N=AMRindex%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:DedupReads {
      clusterOptions='-N=dedup%j  -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AlignReadsToHost {
      clusterOptions='-N=AlignHost%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:RemoveHostDNA  {
      clusterOptions='-N=RMHost%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:HostRemovalStats {
      clusterOptions='-N=hoststats%j -l walltime=05:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:BAMToFASTQ {
      clusterOptions='-N=BAMFastq%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AssembleReads{
      clusterOptions='-N=assembly%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:HMM_amr {
      clusterOptions='-N=HMM_amr%j -l procs=15 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AlignDedupedToContigs {
      clusterOptions='-N=bwa_contig%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AlignToContigs {
      clusterOptions='-N=bwa_contig%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:HMMcontig_count {
      clusterOptions='-N=HMMcount%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AlignDedupSNPToAMR {
      clusterOptions='-N=alignAMR%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AlignToAMR {
      clusterOptions='-N=alignAMR%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:DedupRunResistome {
      clusterOptions='-N=resistome%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:RunResistome {
      clusterOptions='-N=resistome%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:RunFreebayes {
      clusterOptions='-N=freebayes%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:RunRarefaction {
      clusterOptions='-N=rarefaction%j -l walltime=23:59:00 -l procs=12'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:RunSNPFinder {
      clusterOptions='-N=SNPfinder%j -l procs=12 -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:AMRLongToWide {
      clusterOptions='-N=LtoWide%j -l walltime=05:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPAlignToAMR {
      clusterOptions='-N=SNPAlignToAMR%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPRunResistome {
      clusterOptions='-N=SNPresistome%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPRunRarefaction {
      clusterOptions='-N=SNPrarefaction%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPconfirmation {
      clusterOptions='-N=SNPconfirmation%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPgene_alignment {
      clusterOptions='-N=SNPalignment%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPRunFreebayes {
      clusterOptions='-N=SNPfreebayes%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPRunSNPFinder {
      clusterOptions='-N=SNPsnpfinder%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SNPAMRLongToWide {
      clusterOptions='-N=SNPLongToWide -l walltime=5:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:DedupNonSNPAMRLongToWide {
      clusterOptions='-N=DedupNonSNPLongToWide -l walltime=5:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:HMMAMRLongToWide {
      clusterOptions='-N=HMM_LongToWide -l walltime=5:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SamDedupRunResistome {
      clusterOptions='-N=SamDedupSNPresistome%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:SamDedupAMRLongToWide {
      clusterOptions='-N=SamDedup_LongToWide -l walltime=5:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:Samtools_dedup_HMMcontig_count {
      clusterOptions='-N=SamDedupSNPresistome%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:Samtools_dedup_HMMAMRLongToWide {
      clusterOptions='-N=SamDedup_LongToWide -l walltime=5:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:BBmapDedupAlignToAMR {
      clusterOptions='-N=BBmapDedupAlignToAMR%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:BBmapDedupRunResistome {
      clusterOptions='-N=BBmapDedupRunResistome%j -l walltime=23:59:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
  withName:BBmapDedupAMRLongToWide {
      clusterOptions='-N=BBmapDedupAMRLongToWide -l walltime=5:00:00 -q small'
      module='java/jdk1.8.0_144:singularity/current'
  }
}
